{{define "header"}}
{{range .Comments}}{{.}}
{{end -}}
{{- $hasTestify := false }}
{{- $testifyPath := "\"github.com/stretchr/testify/assert\"" }}
package {{.Package}}

import (
{{range .Imports}}{{.Name}} {{.Path}}
{{- if eq .Path $testifyPath }}{{- $hasTestify = true }}{{- end }}
{{end}}
{{- if eq $hasTestify false }}
  {{$testifyPath}}
{{- end }}
)
{{end}}
